<!DOCTYPE html>
<html>
    <head>
        <title>Kiosk</title>
        <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/resource/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="/static/js/socketScript.js"></script>
        <meta lang="en">
    <script src="/static/js/tamperDetect.js"></script>
</head>

    <body>
        <h1>Kiosk</h1>
        <p>Here is the kiosk page.</p>
        <p><a href="/">Home</a></p>
    </body>
</html>